*
{
    margin: 0;
    padding: 0;
}

.webgl /* to remove scroll bar */
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none; /* to remove blue outline */
}

html, body /* to disable scroll */
{
    overflow: hidden;
}